{% extends 'index.html' %}
{% block home %}
<!-- Masthead-->
<div class="masthead">
    <div class="masthead-content text-white">
        <div class="container-fluid px-4 px-lg-0">
            <h1 class="fst-italic lh-1 mb-4">SudyApp</h1>
            <p class="mb-5">Cadastre-se para utilizar o app</p>
            
            <div class="col-auto">
                <button class="btn btn-primary">Login</button>
                <button class="btn btn-secondary">Cadastrar</button>
            </div>
            
        </div>
    </div>
</div>
{% endblock home %}