{% extends "index.html" %}

{% block login %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form class="form-signin mt-3" method="POST">
        {% csrf_token %}
        <div class="mb-2">
            <label for="inputEmail" class="sr-only">UserName</label>
            <input class="form-control" type="text" name="username" placeholder="Nome Usuário" required
                autofocus>
        </div>

        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Senha" name="senha"
            required>

        {% for message in messages %}
        <div class="mt-3 mb-3">
            <p id="messages" class="text-danger">{{ message }}</p>
        </div>
        {% endfor %}


        <label class="small">
            Esqueceu sua senha? <a href="{% url 'reset_password' %}">Trocar senha</a>
        </label>
        <div class="small">
            Ainda não possui sua conta? <a href="{% url 'registrar' %}">Registrar</a>
        </div>


        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>


  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}